.title-1 {
  font-weight: 800;
  font-size: var(--font-size-1);
}

.title-2 {
  font-weight: 700;
  font-size: var(--font-size-2);
}

.title-3 {
  font-weight: 700;
  font-size: var(--font-size-3);
}

.title-4 {
  font-weight: 600;
  font-size: var(--font-size-5);
}

.text-headline {
  font-weight: 400;
  font-size: var(--font-size-4);
}

.text-body {
  font-weight: 400;
  font-size: var(--font-size-5);
}
