.input-wrapper {
  position: relative;
  height: 3rem;
  width: 8rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  background-color: var(--color-grey-100);
  border-radius: 0.5rem;
}

#inputPrice {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

#inputPrice::-webkit-outer-spin-button,
#inputPrice::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#inputPrice[type="number"] {
  -moz-appearance: textfield;
}
